*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    -webkit-font-smothing: antialiased;
}
html , body{
    height: 100%;
    
}
html{
    font-size: 80%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
}

:root{
    --bg-color: #1f242d ;
    --second-color:#323946;
    --text-color: #fff;
    --main-color: #a21caf;

}
a{
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 6rem 10%;
}
aside{
    height: 100%;
    position: fixed;
    width: 200px;
    padding: 8px 0px 8px 3px;
    .sidebar{
        width: 200px;
        height: 100%;
        background-color: #39414f;
        border-radius: 20px;
        padding: 0px 12px;
        color: var(--text-color);
        position: relative;
        transition: 300ms width;
    
    
        .hidden{
            opacity: 1;
            visibility: visible;
            transition: 230ms opacity, 230ms visibility;
            white-space: nowrap;
        }
    
        input[name="open"]{
            display: none;
        }
        .toggle{
            width: 28px;
            height: 28px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--text-color);
            background-color: rgb(85, 167, 250);
            position: absolute;
            top: 14px;
            left: 100%;
            translate: -50%;
            
            svg{
                rotate: 180deg;
                transition: 230ms rotate;
            }
    
        }
    
    
        .header{
            display: flex;
            align-items: center;
            padding: 14px 0px;
            font-size: 18px;
            font-weight: 600px;
            gap: 10px;
            
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            
        }
    
    }
}

    .search {
        position: relative;
        display: block;
        margin:10px 0 40px 0;
        transition: 0ms margin-bottom;

        
        input{
            width: 100%;
            height: 30px;
            background-color: rgb(255,255,255, .3);
            border-radius: 6px;
            padding: 0 12px 0 30px;
            outline: none;
            font-size: 12px;
            color: var(--text-color);
        }
        .icon{
            position: absolute;
            left: 0;
            top: 0;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            svg{
                width: 25px;
                height: 25px;
            }
        }
        label{
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
            z-index: 99;
            display: none;
        }

    }

    .menu {
        margin-top: 7px;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        
        a{
            display: flex;
            height: 30px;
            border-radius: 4px;
            align-items: center;
            color: var(--text-color);
            font-size: 17px;
            
            &:where(:hover , .active){
                background-color: var(--second-color);
            }
            .icon{
                    width:30px ;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    position: relative;
                   
                    &::before{
                        content: attr(title);
                        position: absolute;
                        top: 50%;
                        left: 100%;
                        translate: 28px -50%;
                        background-color: rgb(88, 88, 88);
                        padding: 3px 5px;
                        border-radius: 4px;
                        white-space: nowrap;
                        opacity: 0;
                        visibility: hidden;
                        transition: 300ms opacity, 300ms visibility;
                    }
                    &::after{
                        content: "";
                        border: 6px solid;
                        border-color: transparent;
                        border-right-color: rgb(88, 88, 88);
                        position: absolute;
                        top: 50%;
                        left: 100%;
                        translate: 17px -50%;
                        opacity: 0;
                        visibility: hidden;
                        transition: 300ms opacity, 300ms visibility;
                    }
                    
                    svg{
                        height: 25px;
                        width: 25px;
                    }
                    

                }
            .pad{
                    padding-left: 10px;
               }
        } 
    }

    &:has(input[name="open"]:checked){
        .sidebar{
        width: 60px;
        }
        aside{
            width: 60px;
        }
        .search{
            margin-bottom: 40px;
            input{
                padding-right: 0px;
            }

        }
        .search label{
            display: block;
        }
       
        .menu{
            margin-top: 7px;
        }
        .menu .icon{
            &:hover::before, &:hover::after{
                opacity: 1;
                visibility: visible;
            }
        }
        .hidden{
            opacity: 0;
            visibility: hidden;
        }
        .toggle {
            width: 22px;
            height: 22px;
            svg{
                rotate: 0deg;
            }
        }
        .home, .services, .contact{
            margin-left: 80px;
        }
        .about, .portfolio,.footer{
            margin-left: 60px;
        }
        
    }

/* Home */
.home{
    display: flex;
    margin-left: 205px;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    padding-bottom: 50px;
    flex-wrap: nowrap;
}

.home-img{
    position: relative;
    z-index: 3;
    img{
        width: 30vw;
    }
    
}
.home-imgCSlip{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    width: 30vw;
    height: 100%;
    z-index: -1;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}


.home-content{
    color: var(--text-color);
    
    h3{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }
    h1{
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 2rem;
    } 
    p{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    

}
.social-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
  a{    
    margin: 1rem 1.5rem 15px 0;
    color: var(--main-color);
    font-size: 4rem;    
    line-height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    .relative{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;        
        text-align: center;
        border-radius: 5px;
        position: relative;
        
        .text{
            display: block;
            position: relative;
            color: transparent;
            font-size: 2rem;
            margin-top: 1.5rem;           
            top: 50%;
            letter-spacing: 2px;
            -webkit-text-stroke: 0.1px var(--main-color);
        }
        .text::before{
            content: attr(data-text);
            position: absolute;
            width: 0%;
            overflow: hidden;
            transition: 1s;
            color: var(--main-color);
            border-right: 2px solid var(--main-color);
        }
        
        
        
    }
    
    &:where(:hover,:active){
        i{
            background-color: var(--main-color);
            color: var(--bg-color);
            background-clip: text;
            text-shadow: 0 0 1rem var(--main-color);
            transition: 400ms all linear;
            
        }
        .text:hover::before{
            width: 100%;
        }
        
    }
      
    
    
  }
  
  
}
.home-span{
    color:var(--main-color) ;
    position: relative;

    .front-span, .web-span{
        position: absolute;
        color: transparent;
        width: 0;
        height: 100%;
        background-color: var(--main-color);
        background-clip: text;
        top: 0;
        left: 0;
        
    }
    .front-span{
        animation: animate-front 6s linear infinite;
    }
    .web-span{
        animation: animate-web 6s linear infinite;
    }
    .last-span{
        margin-left: 9rem;
        color: var(--text-color);
    }

    
}
@keyframes animate-web {
    0%{width: 0;}
    25%{width: 100%;}
    50%{width: 0;}
}
@keyframes animate-front {
    50%{width: 0;}
    75%{width: 100%;}
    100%{width: 0;}
}


/* About */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: var(--second-color);
    margin-left: 205px;
    color: var(--text-color);
    .about-img img{
        width: 30vw;
        background-color: var(--main-color);
        border: 3px solid var(--text-color);
        filter: drop-shadow(0 0 3rem var(--main-color));
        border-radius: 30% 70% 53% 47% / 26% 46% 54% 74% ;
        animation: anime 20s infinite;
        
    }
}

.heading{
    font-size: 2.5rem ;
    text-align: left;
    color: var(--text-color);
    .heading-span{
        color: var(--main-color);
    }
}
.about-content h3{
    font-size: 1.7rem;
    margin-top: 1rem;
}
.about-content p{
    font-size: 1.3rem;
    margin:2rem 0 3.2rem;
}
.about-content p span{
    
    color: transparent;
    background-image:linear-gradient(
        to right,
        var(--text-color),var(--text-color)
    );
    background-repeat: no-repeat;
    background-clip: text;
    background-size: 0% 100%;
    animation: text-animation 4s linear forwards;
    animation-timeline: view();
    animation-range: contain;
    animation-range-start: 13vh;
    animation-range-end:  50vh;
}
.about-button{
    color: var(--second-color);
    background-color: var(--main-color);
    padding: 0.7rem 2rem;
    border-radius: 4rem;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    filter: drop-shadow(0 0 2rem var(--main-color));
    transition: 0.3s linear;

    &:where(:hover , .active){
        color: var(--text-color);
        filter: none;
    }
}
@keyframes anime {
    0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
  }

  10% {
    border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
  }

  20% {
    border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
  }

  30% {
    border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
  }

  40% {
    border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
  }

  50% {
    border-radius: 100%;
  }

  60% {
    border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
  }

  70% {
    border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
  }

  80% {
    border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
  }

  90% {
    border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
  }
}

@keyframes text-animation {
    0%{
        background-size: 0% 100%;
    }
    100%{
        background-size: 100% 100%;
    }
}


/* Services */
.services{
    margin-left: 205px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10rem;
    color: var(--text-color);
    
    .services-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;

        .services-box{
            flex: 1 1 22rem;
            background-color: var(--second-color);
            padding: 3rem 2rem 4rem;
            border-radius: 2rem;
            text-align: center;
            transition: 300ms linear;
            border: 1px solid transparent;
            position: relative;
            
            
            .after{
                content: "";
                position: absolute;
                background-color: #111;
                border: 1rem solid rgb(177, 121, 241);
                border-radius: 3.2rem;
                width: 0%;
                height: 0%;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                transition: all 0.2s linear;
                z-index: -1;
                
            }
            
            
            i{
                font-size: 5rem;
                color: var(--main-color);
                
            }
            a{
                padding: 0.7rem 2rem;
                background-color: var(--main-color);
                border-radius: 4rem;
                font-size: 1rem;
                font-weight: 600;
                color: var(--bg-color);
                letter-spacing: 0.1rem;
                transition: 300ms linear;
                
            }
            p{
                margin-bottom: 3rem;
                font-size: 1rem;
                
            }
            h3{
                font-size: 1.3rem;
                margin-bottom: 2.5rem;
                
            }
        
            &:where(:hover,:active){
                transform: scale(1.05);
                /* border: 3px solid var(--main-color); */
                .after{
                    height: 105%;
                    width: 105%;
                    filter: drop-shadow(0 0 0.5rem rgb(177, 121, 241))
                    
                }
                a{
                    filter: drop-shadow(0 0 2rem var(--main-color));
                    color: var(--text-color);
                }
                
                

            }
        
        }
        .services-box1{
            width: 310px;
            height: 310px;
            background-color: var(--second-color);
            position: relative;
            display: grid;
            place-items: center;
            border-radius: 12px;
            cursor: pointer;
            overflow: hidden;
            padding:1rem 1rem ;
            transition: all 0.2s linear;

            i{
                font-size: 5rem;
                color: var(--main-color);
                z-index: 1;
                
            }
            a{
                padding: 0.7rem 2rem;
                background-color: var(--main-color);
                border-radius: 4rem;
                font-size: 1rem;
                font-weight: 600;
                color: var(--bg-color);
                letter-spacing: 0.1rem;
                transition: 300ms linear;
                z-index: 1;
            }
            p{
                margin-bottom: 3rem;
                font-size: 1rem;
                z-index: 1;
            }
            h3{
                font-size: 1.3rem;
                margin-bottom: 2.5rem;
                z-index: 1;
            }
        }
        .services-box1::before{
            position: absolute;
            content: "";
            width: 50%;
            height: 180%;
            background-color: rgb(177, 121, 241);
            transform: rotate(45deg);
        }
        .services-box1:hover:before{
            animation: animate 2s linear infinite;
            
        }
        .services-box1::after{
            position: absolute;
            content: "";
            inset: 10px;
            background:var(--second-color) ;
            border-radius: 8px;            
        }
        .services-box1:hover{
            transform: scale(1.05);
            a{
                    filter: drop-shadow(0 0 2rem var(--main-color));
                    color: var(--text-color);
                }
        }

        
        

    }
    

}
@keyframes animate {
    from{
        transform:rotate(0deg);
        
    }
    to{
        transform:rotate(-360deg);
        filter: hue-rotate(-360deg) saturate(1000%);
    }
}



/* Portfolio */
.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--second-color);
    margin-left: 205px;
    color: var(--text-color);
    .portfolio-container{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        align-items: center;
        gap: 2.5rem ;
        .portfolio-box{
            border-radius: 2rem;
            position: relative;
            overflow: hidden;
            .portfolio-content{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background:radial-gradient(rgba(0,0,0,0.8), var(--main-color));
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 0 10px;
                
                
                h4{
                    font-size: 2rem;
                }
                p{
                    font-size: 1.4rem;
                    text-align: center;
                    
                }
                a{
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 3rem;
                    height: 3rem;
                    background-color: var(--text-color);
                    color: #111;
                    border-radius: 50%;
                    margin-top: 1rem;
                    i{
                        font-size: 1.4rem;
                    }
                }
            }
            .effect{
                transform: translateY(100%);
                transition: 0.5s linear;
            }
            img{
                width: 100%;
                object-fit: cover;
                transition: 0.5s linear;
            }
            .effect-2{
                transform: translateX(-100%);
                transition: 0.5s linear;
            }
            .img-2{
                width: 100%;
                object-fit: cover;
                transition: 0.5s linear;
            }
            .effect-3{
                transform: translateY(-100%);
                transition: 0.5s linear;
            }.img-3{
                width: 100%;
                object-fit: cover;
                transition: 0.5s linear;
            }
            .effect-4{
                transform: translateX(100%);
                transition: 0.5s linear;
            }.img-4{
                width: 100%;
                object-fit: cover;
                transition: 0.5s linear;
            }
            .effect-5{
                transform: translateX(100%);
                transform: translateY(-100%);
                transition: 0.5s linear;
            }.img-5{
                width: 100%;
                object-fit: cover;
                transition: 0.5s linear;
            }
            .effect-6{
                transform: translateX(100%);
                
                transition: 0.5s linear;
            }.img-6{
                width: 100%;
                object-fit: cover;
                transition: 0.5s linear;
            }
            
            

            &:where(:hover){
                .effect{
                    transform: translateY(0);
                }
                img{
                    transform: translateY(-100%);
                }
                .effect-2{
                    transform: translateY(0);
                }                
                .img-2{
                    transform: translateX(100%);
                }
                .effect-3{
                    transform: translateY(0%);
                }
                .img-3{
                    transform: translateY(100%);
                }   
                .effect-4{
                    transform: translateY(0%);
                }
                .img-4{
                    transform: translateX(-100%);
                }   
                .effect-5{
                    transform: translateX(0%);
                    transform: translateY(0%);
                }
                .img-5{
                    transform: translateX(-100%);
                }   
                .effect-6{
                    transform: translateX(0%);
                    
                }
                .img-5{
                    transform: translateX(-100%);
                }   
            }
        }

    }
}
/* Contact */
.contact{
    margin-left: 205px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;

    form{
        text-align: center;
        width: (100%,70rem);        
    }
    .contact-btn{
        padding: 1rem 3rem;
        background-color: var(--main-color);
        color: var(--text-color);
        border-radius: 2rem;
        font-size: 1rem;
        width: 300px;
        cursor: pointer;
        letter-spacing: 0.2rem;
        font-weight: 600;
        transition: 0.3s linear;
        margin-top: 2rem;
    }
    .contact-btn:hover{
        filter: drop-shadow(0 0 0.7rem var(--main-color));
        color: var(--second-color);
    }
    .input-div{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    .input-div input, form textarea{
        padding: 1.5rem;
        font-size: 1rem;
        background-color: var(--second-color);
        width: 100%;
        margin: 1rem 0 0 0;
        resize: none;
        color: var(--text-color);
        border: 1px solid transparent;
    }
    .input-div input{
        width: 49%;
    }
    .input-div input:focus, form textarea:focus{
        border-bottom: 2px solid var(--main-color);
        transition: 0.3s linear;
    }
}

/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    background-color: var(--second-color);
    margin-left: 205px;
    p{
        font-size: 1rem;
        color: var(--text-color);
    }
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main-color);
        border-radius: 0.2rem;
        i{
            font-size: 2rem;
            color: var(--second-color);
        }
    }
}

/* media */
@media screen and (max-width: 1200px){
    html{
        font-size: 55%;
    }
    .home, .about{
        flex-wrap: wrap;
    }
    aside{
        width: 150px;
        .sidebar{
            width: 150px;
        }
    }
}
@media screen and (max-width: 980px){
    section{
        padding:4% 2rem;
    }
    
   
}
